# dependencies
node_modules/

# next
.next/
out/

# turbo
.turbo/

# env files
.env
.env.local
.env.production
.env.development
.env.test
.env.example.local
.env.*
*.env
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# build/dist
dist/
build/
coverage/

# misc
.DS_Store
Thumbs.db
vapid.txt
vapid.env
*.env
